[data-tab-content]{
    display:none;
}


.active[data-tab-content]{
    display:block;
}

.tabs{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    margin: 0;
    padding: 0;
    border-bottom: 0;
}

.tab{
    cursor:pointer;
    padding: 10px;
    color: white;
    font-size: 2;
}

.tab.active{
    background-color: rgb(255, 47, 245);
}
.tab:hover{
    background-color: green;
}

.tab-content{
    margin-left: 20px;
    margin-right: 20px;
}


/* .parallax{
    background-image: "assets/forest.jpeg";

    height: 500px;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
} */


body{
    /* Location of the image */
    background-image: url(assets/myimage.png);
    
    /* Background image is centered vertically and horizontally at all times */
    background-position: center center;
    
    /* Background image doesn't tile */
    background-repeat: no-repeat;
    
    /* Background image is fixed in the viewport so that it doesn't move when 
       the content's height is greater than the image's height */
    background-attachment: fixed;
    
    /* This is what makes the background image rescale based
       on the container's size */
    background-size: cover;
    
    /* Set a background color that will be displayed
       while the background image is loading */
    background-color: #464646;
  }

 
  html {
    height: 100%;  
    overflow: scroll;
    overflow-x:hidden;
      font-family: Raleway;
      background-color: #F5F5F5;
      
  }

  ::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}