[data-tab-content]{
    display:none;
}


.active[data-tab-content]{
    display:block;
}


/* .parallax{
    background-image: "assets/forest.jpeg";

    height: 500px;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
} */

.links{
    display: flex;
    height: 100px;
    position: relative;
    list-style-type: none;
    margin: 0;
    padding: 0;
    border-bottom: 0;
    border: 2px solid grey;

    overflow: hidden;
    background-color: #333;
    font-family: Arial;

}


 
  html {
    height: 100%;  
    overflow: scroll;
    overflow-x:hidden;
      font-family: Raleway;
      background-color: #F5F5F5;
      
  }

  ::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}


* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
  }
  body {
    background-image: url(assets/background.jpg);
    -webkit-background-size:cover;
    background-size:cover;
    background-position: center center;
    height: 100vh;
      font-family: poppins;
  }
  .navbar{
    padding-top: 25px;
  }
  nav {
   position: relative;
   width: calc(100% - 60px);
   margin: 0 auto;
   background: #000000;
   z-index: 1;
   text-align: right;
   padding-right: 2%;
   padding: 0% ;
  }
  .logo {
    width: 25%;
    float: left;
    text-transform: uppercase;
    color: #fff;
    font-size: 25px;
    text-align: left;
    padding: 10px 25px;
  }
  .menu-area li {
    display: inline-block;
      list-style-type: none;
  }
  .menu-area a {
    color: #fff;
    font-weight: 900;
    letter-spacing: 1px;
    text-transform: uppercase;
    display: block;
    padding: 15px 25px;
    font-size: 18px;
    line-height: 30px;
    position: relative;
    z-index: 1;
      text-decoration: none;    
  }
  .menu-area a:hover {
    background: #ccccff;
    color: #fff;
  }
  nav:before {
    position: absolute;
    content: '';
    border-top: 10px solid #333;
    border-right: 10px solid #333;
    border-left: 10px solid transparent;
    border-bottom: 10px solid transparent;
    top: 100%;
    left: 0;
  }
  nav:after {
    position: absolute;
    content: '';
    border-top: 10px solid #333;
    border-left: 10px solid #333;
    border-right: 10px solid transparent;
    border-bottom: 10px solid transparent;
    top: 100%;
    right: 0;
  }
/*   
  .w3-card-4
{
  padding: 40px;
  background: white;
  max-width: 80%;
  border-radius: 20px;
  margin: 60px auto;
}

.shadow1 { 
  box-shadow: 0 5px 10px rgba(154,160,185, .3), 0 15px 40px rgba(166,173,201,.2);
}

.Raleway
{
    font-family: Raleway;
} */