[data-tab-content]{
    display:none;
}

.active[data-tab-content]{
    display:block;
}

.tabs{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid white;
}

.tab{
    cursor:pointer;
    padding: 10px;
}

.tab.active{
    background-color: greenyellow;
}
.tab:hover{
    background-color: #AAA;
}

.tab-content{
    margin-left: 20px;
    margin-right: 20px;
}


/* .parallax{
    background-image: "assets/forest.jpeg";

    height: 500px;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
} */


body{
    /* Location of the image */
    background-image: url(assets/background.jpg);
    
    /* Background image is centered vertically and horizontally at all times */
    background-position: center center;
    
    /* Background image doesn't tile */
    background-repeat: no-repeat;
    
    /* Background image is fixed in the viewport so that it doesn't move when 
       the content's height is greater than the image's height */
    background-attachment: fixed;
    
    /* This is what makes the background image rescale based
       on the container's size */
    background-size: cover;
    
    /* Set a background color that will be displayed
       while the background image is loading */
    background-color: #464646;
  }